.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-height{
  height: 600px;
}

.img-gradient:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
}
.checkOut-bgImg{
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%), url("../src/assets//images//checkout/checkout.png");
  background-repeat: no-repeat;
  object-fit: cover;
}